# Núcleo de dados
pandas==2.2.2
numpy==1.26.4

# Visualização
matplotlib==3.9.2
seaborn==0.13.2

# ML clássico (opcional)
scikit-learn==1.5.2
imbalanced-learn==0.12.3

# Hugging Face stack
transformers==4.44.2
datasets==3.0.2
accelerate==0.34.2
huggingface_hub==0.25.2
safetensors==0.4.5

# Utilitários
tqdm==4.66.5
joblib==1.4.2
